<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.scoula.user.mapper.UserMapper">

    <!-- ResultMap: UserVO -->
    <resultMap id="userMap" type="org.scoula.security.account.domain.UserVO">
        <id property="userId" column="user_id"/>
        <result property="username" column="name"/>
        <result property="email" column="email"/>
        <result property="password" column="password"/>
        <result property="phone" column="phone"/>
        <result property="userType" column="user_type"/>
    </resultMap>

    <!-- ResultMap: PasswordResetTokenVO -->
    <resultMap id="prtMap" type="org.scoula.user.domain.PasswordResetTokenVO">
        <result property="token" column="token"/>
        <result property="email" column="email"/>
        <result property="expDate" column="expDate"/>
    </resultMap>

    <!-- 1. 유저명으로 유저 검색 -->
    <select id="get" parameterType="string" resultMap="userMap">
        SELECT *
        FROM user
        WHERE name = #{username}
    </select>

    <!--  2. 이메일로 유저 검색  -->
    <select id="findByemail" parameterType="string" resultMap="userMap">
        SELECT *
        FROM user
        WHERE email = #{email}
    </select>

    <!-- 3. 회원 정보 추가 -->
    <insert id="insertUser" parameterType="org.scoula.security.account.domain.UserVO" useGeneratedKeys="true"
            keyProperty="userId">
        INSERT INTO user (name, email, password, phone, user_type)
        VALUES (#{username}, #{email}, #{password}, #{phone}, #{userType})
    </insert>

    <!--  4. 이메일로 비밀번호 재설정 토큰 검색  -->
    <select id="getemail" parameterType="string" resultMap="prtMap">
        SELECT *
        FROM PasswordResetToken
        WHERE email = #{email}
    </select>

    <!--  5. 비밀번호 재설정 토큰 추가  -->
    <insert id="insertPRT" parameterType="org.scoula.user.domain.PasswordResetTokenVO" useGeneratedKeys="true"
            keyProperty="userId">
        INSERT INTO PasswordResetToken (email, token, expDate)
        VALUES (#{email}, #{token}, NOW() + INTERVAL 10 MINUTE)
    </insert>

    <!--  6. 비밀번호 재설정 토큰으로 토큰 발급 정보 검색  -->
    <select id="findByToken" parameterType="string" resultMap="prtMap">
        SELECT *
        FROM PasswordResetToken
        WHERE token = #{token}
    </select>

    <!-- 7. 비밀번호 변경 -->
    <update id="passwordRewrite" parameterType="org.scoula.security.account.domain.UserVO">
        UPDATE user
        SET password = #{password}
        WHERE user_id = #{userId}
    </update>

    <!--  8. 비밀번호 재설정 토큰 삭제  -->
    <delete id="deleteToken" parameterType="string">
        DELETE
        from passwordresettoken
        where email = #{email}
    </delete>

    <!-- 9. 비밀번호 재설정 토큰 수정 -->
    <update id="updatePRT" parameterType="org.scoula.user.domain.PasswordResetTokenVO">
        UPDATE PasswordResetToken
        SET token   = #{token},
            expDate = NOW() + INTERVAL 10 MINUTE
        WHERE email = #{email}
    </update>

    <!--  10. 회원 탈퇴  -->
    <delete id="withdraw" parameterType="string">
        DELETE
        from user
        where name = #{username}
    </delete>
</mapper>