    <?xml version="1.0" encoding="UTF-8" ?>
    <!DOCTYPE mapper
            PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
            "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

    <mapper namespace="org.scoula.listing.mapper.ListingMapper">

        <delete id="delete">
            delete from listing where no = #{id}
        </delete>


            <select id="getList" resultType="org.scoula.listing.domain.ListingVO">
    <![CDATA[
                select * from listing order by id
                ]]>
    </select>

        <select id="get" resultType="org.scoula.listing.domain.ListingVO">
            select * from listing where id = #{id}
        </select>

    </mapper>
