    <?xml version="1.0" encoding="UTF-8" ?>
    <!DOCTYPE mapper
            PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
            "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

    <mapper namespace="org.scoula.pricetrend.mapper.PriceTrendMapper">

        <delete id="delete">
            delete from pricetrend where no = #{id}
        </delete>

            <select id="getList" resultType="org.scoula.pricetrend.domain.PriceTrendVO">
    <![CDATA[
                select * from pricetrend order by id
                ]]>
    </select>

        <select id="get" resultType="org.scoula.pricetrend.domain.PriceTrendVO">
            select * from pricetrend where id = #{id}
        </select>

    </mapper>
