<?xml version="1.0" encoding="UTF-8" ?>
    <!DOCTYPE mapper
            PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
            "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

    <mapper namespace="org.scoula.pricetrend.mapper.PriceTrendMapper">

        <delete id="delete">
            delete from PriceTrend where no = #{id}
        </delete>

            <select id="getList" resultType="org.scoula.pricetrend.domain.PriceTrendVO">
    <![CDATA[
                select * from PriceTrend order by id
                ]]>
    </select>

    <select id="getMaximumValue" resultType="org.scoula.pricetrend.dto.MaxPriceDTO">
    <![CDATA[
        SELECT p.dong_name, p.price AS max_price, p.latitude, p.longitude
        FROM pricetrend p
                 JOIN (
            SELECT dong_name, MAX(price) AS max_price
            FROM pricetrend
            GROUP BY dong_name
        ) AS max_per_dong
                      ON p.dong_name = max_per_dong.dong_name AND p.price = max_per_dong.max_price;
                ]]>
    </select>

        <select id="get" resultType="org.scoula.pricetrend.domain.PriceTrendVO">
            select * from PriceTrend where id = #{id}
        </select>

    </mapper>
