<?xml version="1.0" encoding="UTF-8" ?>
        <!DOCTYPE mapper
                PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
                "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.scoula.documentAnalysis.mapper.DocumentAnalysisMapper">

    <!-- ResultMap: DTO 매핑 -->
    <resultMap id="IllegalBuildingJudgeMap" type="org.scoula.documentAnalysis.domain.IllegalBuildingCheckVO">
        <id property="id" column="id"/>
        <result property="platPlc" column="plat_plc"/>
        <result property="sggCdNm" column="sgg_cd_nm"/>
        <result property="stdgCdNm" column="stdg_cd_nm"/>
        <result property="bdrgSn" column="bdrg_sn"/>
        <result property="ldgrSeCdNm" column="ldgr_se_cd_nm"/>
        <result property="ldgrKindCdNm" column="ldgr_kind_cd_nm"/>
        <result property="mnUsgCdNm" column="mn_usg_cd_nm"/>
        <result property="etcUsgCn" column="etc_usg_cn"/>
        <result property="bdcvrt" column="bdcvrt"/>
        <result property="gfa" column="gfa"/>
        <result property="grndNofl" column="grnd_nofl"/>
        <result property="udgdNofl" column="udgd_nofl"/>
        <result property="prmsnYmd" column="prmsn_ymd"/>
        <result property="useAprvYmd" column="use_aprv_ymd"/>
        <result property="rserDesignAplcnYn" column="rser_design_aplcn_yn"/>
        <result property="roofCdNm" column="roof_cd_nm"/>
        <result property="etcRoofNm" column="etc_roof_nm"/>
        <result property="judgeResult" column="judge_result"/>
        <result property="judgeReason" column="judge_reason"/>
    </resultMap>

    <!-- INSERT -->
    <insert id="insert" parameterType="org.scoula.documentAnalysis.domain.IllegalBuildingCheckVO" useGeneratedKeys="true" keyProperty="id">
        INSERT IGNORE INTO illegal_building_judge
        (
            plat_plc, sgg_cd_nm, stdg_cd_nm, bdrg_sn, ldgr_se_cd_nm, ldgr_kind_cd_nm,
            mn_usg_cd_nm, etc_usg_cn, bdcvrt, gfa, grnd_nofl, udgd_nofl,
            prmsn_ymd, use_aprv_ymd, rser_design_aplcn_yn, roof_cd_nm, etc_roof_nm,
            judge_result, judge_reason
        )
        VALUES
            (
                #{platPlc}, #{sggCdNm}, #{stdgCdNm}, #{bdrgSn}, #{ldgrSeCdNm}, #{ldgrKindCdNm},
                #{mnUsgCdNm}, #{etcUsgCn}, #{bdcvrt}, #{gfa}, #{grndNofl}, #{udgdNofl},
                #{prmsnYmd}, #{useAprvYmd}, #{rserDesignAplcnYn}, #{roofCdNm}, #{etcRoofNm},
                #{judgeResult}, #{judgeReason}
            )
    </insert>

    <!-- SELECT 단건 -->
    <select id="findByAddress" resultMap="IllegalBuildingJudgeMap">
        SELECT *
        FROM illegal_building_judge
        WHERE plat_plc like #{address}
    </select>

    <!-- SELECT 전체 -->
    <select id="findAll" resultMap="IllegalBuildingJudgeMap">
        SELECT *
        FROM illegal_building_judge
        ORDER BY id DESC
    </select>

</mapper>